*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
main{
    display: flex;  
}
.slidebar{
    position: sticky;
    height: 100vh;
    background-color:#202123;
    color: white;
    padding: 15px 20px;
    width: fit-content;
    font-family: sans-serif;
}
.slidebar_header{
    display: flex;
    gap: 20px;
    align-items: center;
}
.slidebar_header button{
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.39);
    color: white;
    display: flex;
    padding: 10px 20px;
    gap: 12px;    
    font-size: 13px;
    width: 200px;
    align-items: center;
    cursor: pointer;
}
.chat_container{
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 70vh;
    overflow-y: scroll;
    
}
/* ye kia hwA    */
.chat_container::-webkit-scrollbar {
    display: none;
  }

.date_teller{
    padding: 10px 0;
    font-weight: 600;
    font-size: 12px;
    color: rgb(230, 215, 215);
    position: sticky;
    top: 0px;
    background-color: #202123 ;
}
.chat{
    display: flex;
    gap: 15px;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}
.selected_chat{
    background-color: #343541;
}
.chat:hover{
    background-color: #5d5f6bbb;
}
.chat i{
    font-size: 14px;
    color: rgb(196, 196, 196);
}

.chat .actions{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 10px;
}   
.chat .actions i:hover{
    color: white;
}
.chat_footer{
    position: fixed;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 20px;
}
.chat_footer div{
    display: flex;
    justify-content: space-between;
}
.chat_footer div span{
    display: flex;
    gap: 3px;
    align-items: center ;
    font-size: 14px ;

}
 .new{
    background-color: khaki;
    color: #202123;
    cursor: pointer;
    padding: 5px;
    border-radius: 3px;
    font-size: 10px;
}
.chat_footer .user{
    display: flex;
    gap: 10px;
    font-size: 13px;
    align-items: center;
}

.chat_footer .user button{
    background-color: #1ABC9C;
    border: none;
    padding: 10px 10px;
    color: white;
}
.main{
    background-color: #343541;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    align-items: center;
    justify-content: space-between;
}
.main .main_upper{
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;
}
.main .main_upper .btns_group{
    background-color: #202123;
    display: flex;
    border-radius: 5px;
    padding: 6px;
    gap: 5px;
}
.btns_group button{
    padding: 13px 30px;
    color: white;
    border: none;
    gap: 10px; 
    outline: none;
    align-items: center;
    display: flex;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px;
}
.main .main_upper .btns_group .selected_btn{
   background-color: grey; 
}
.main .main_upper .btns_group .selected_btn i{
    color: rgba(204, 216, 216, 0.705);
    font-size: 15px;

}
.main_upper h1{
    color: #595a68 ;
    font-size: 40px;
}
.main_bottom {
    width: fit-content;
    margin: 0px auto;
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
}
.main_bottom .questions_container{
    display: grid;    
    grid-template-columns: repeat(2,1fr);
    grid-gap: 40px;
}
.prompt{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #595a68;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}
.prompt:hover{
    background-color:#595a68;
}
.prompt h4{
    color: rgb(216, 198, 198);
}
.prompt p{
    color: rgb(141, 141, 141);

}
.prompt_input{
    background-color: #40414F;
    display: flex;
    align-items: center;
    border-radius: 8px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.329);
}
.prompt_input input{
    height: 54px;
    width: 650px;
    padding-left: 10px;
    background-color: transparent;
    color: white;
    border: 0px;
    outline: 0px;
}
.prompt_input::placeholder{
    color: #c5c5c7;
}
.prompt_input button{
    background-color: transparent;
    font-size: 20px;
    color:white;
    border: none;
    outline: none;
    padding-right: 20px;
    cursor: pointer;    
}
.text{
    color: lightgray;
    font-size: smaller;
}
@media screen and (max-width:768px) {
    .slidebar{
        display: none;
    }
    .main{
        min-height: 100vh;
    }
    .text{
        text-align: center;
        font-size: 8px;
    }
    .main .questions_container{
        display: grid;
        grid-template-columns: repeat(1 ,1fr)
    }
    .small{
        display: none;
    }
    .prompt_input input{
        width: 100%;
        min-width:350px;
    }
}